* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px;
    background-color: #087af4;
    border: 1px solid #087af4;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

p {
    font-size: 14px;
    text-align: center;
}

a {
    color: #087af4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
